name: Build Peerstack Academy Windows x64

on:
  workflow_dispatch:
  push:
    branches: [ master ]

env:
  SCITER_RUST_VERSION: "1.75"
  RUST_VERSION: "1.75"
  LLVM_VERSION: "15.0.6"
  FLUTTER_VERSION: "3.24.5"
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"

jobs:
  generate-bridge:
    uses: ./.github/workflows/bridge.yml

  build-windows:
    name: Build Peerstack Academy EXE
    needs: [generate-bridge]
    runs-on: windows-2022
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install LLVM
        run: choco install llvm -y

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: C:\vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - name: Install vcpkg dependencies
        shell: bash
        run: |
          # FFmpeg mütləq əlavə olunmalıdır, yoxsa hwcodec xətası verir
          $VCPKG_ROOT/vcpkg install libvpx:x64-windows-static libyuv:x64-windows-static opus:x64-windows-static aom:x64-windows-static ffmpeg:x64-windows-static --x-install-root="$VCPKG_ROOT/installed"

      - name: Build Peerstack Academy
        shell: pwsh
        run: |
          # Kompilyatorun vcpkg fayllarını görməsi üçün yolları təyin edirik
          $env:VCPKG_ROOT = "C:\vcpkg"
          $env:INCLUDE = "C:\vcpkg\installed\x64-windows-static\include"
          $env:LIB = "C:\vcpkg\installed\x64-windows-static\lib"
          python3 .\build.py --flutter --hwcodec
          mv ./flutter/build/windows/x64/runner/Release ./peerstack_dist

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Peerstack-Academy-Windows-x64
          path: peerstack_dist
